absl-py~=1.4.0
astor~=0.8.1
certifi
cycler
decorator
gast==0.4.0
google-pasta~=0.2.0
graphviz
h5py>=3.7.0
idna
imageio
imageio-ffmpeg
joblib
matplotlib
moviepy
mtcnn==0.1.1
numpy>=1.22
opencv-python>=4.7.0.72
pandas
Pillow
proglog
protobuf>=3.20.3
pydot
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy>=1.9
six
termcolor>=2.0.0
tqdm
urllib3
Werkzeug
wrapt